<h1><%= title %></h1>

<div class="row">
    <% items.map(function(item) { %>
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="<%= item.url %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.name %></h5>
                        <h5 class="card-title">Price: $<%= item.price %></h5>
                    </div>
                </a>
            </div>
        </div>
    <% }); %>
</div>
